<form method="post" action="">
<p>{{> @form-unit id="field1" name="field1" label="Text input" }}</p>
<p>{{> @form-unit textarea=true id="field2" name="field2" label="Textarea" }}</p>
<p>{{> @form-unit id="field3" name="field3" label="Email input" required="true" placeholder="e.g. email@example.com" }}</p>
<input type="submit" value="Submit">
</form>
