@charset "UTF-8";
html, body {
  background-color: #ffffe9;
}

body {
  color: #270000;
  color: rgba(44, 0, 0, 0.96);
  font-family: Georgia, serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

mark {
  background-color: rgba(255, 204, 0, 0.5);
}

figure {
  display: inline-block;
  text-align: center;
  margin: 0 0 1em;
}

a, button, input, textarea, select, label, summary {
  touch-action: manipulation;
}

[tabindex='-1']:focus {
  outline: none;
}

.discrete {
  font-size: 13px;
  font-size: 0.8125em;
}

small.discrete {
  font-style: italic;
}

.detail {
  text-transform: lowercase;
  font-variant: small-caps;
}

.aside {
  float: right;
}

.prose {
  max-width: 800px;
  max-width: 50em;
  overflow: hidden;
}

.draggable {
  cursor: move;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2244%22%20height%3D%2232%22%20viewBox%3D%220%200%2044%2032%22%3E%3Cpath%20fill%3D%22%23c96%22%20d%3D%22M0%206h28v6H0V6zm0%208h28v6H0v-6zm0%208h28v6H0v-6zM31%2018l6%206%206-6zM43%2016l-6-6-6%206z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right;
  margin-right: 44px;
}

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: color 0.75s;
  color: transparent;
}

[placeholder]:focus::-moz-placeholder {
  transition: color 0.75s;
  color: transparent;
}

@-webkit-keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 transparent;
  }
  to {
    -webkit-box-shadow: 0 0 1em black;
  }
}
@keyframes pulse {
  from {
    box-shadow: 0 0 0 transparent;
  }
  to {
    box-shadow: 0 0 1em black;
  }
}
.pulse {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-webkit-keyframes targetfade {
  from {
    background-color: rgba(255, 204, 51, 0.25);
  }
  to {
    background-color: rgba(255, 204, 51, 0);
  }
}
@keyframes targetfade {
  from {
    background-color: rgba(255, 204, 51, 0.25);
  }
  to {
    background-color: rgba(255, 204, 51, 0);
  }
}
[role="main"] :target {
  -webkit-animation-name: targetfade;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  animation-name: targetfade;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@-webkit-keyframes swingdown {
  from {
    -webkit-transform: perspective(100vh) rotate3d(1, 0, 0, -90deg);
  }
  to {
    -webkit-transform: perspective(100vh);
  }
}
@keyframes swingdown {
  from {
    transform: perspective(100vh) rotate3d(1, 0, 0, -90deg);
  }
  to {
    transform: perspective(100vh);
  }
}
.toggle-content[aria-hidden='false'] {
  transform-origin: center top;
  -webkit-animation-name: swingdown;
  -webkit-animation-duration: 0.15s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-name: swingdown;
  animation-duration: 0.15s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

/* generated with grunt-sass-globbing */
[placeholder]::-webkit-input-placeholder {
  text-transform: none;
}

[placeholder]::-moz-placeholder {
  text-transform: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  text-indent: 0;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-size: 1.5em;
}

textarea {
  line-height: 1.5;
}

input,
textarea,
select,
button {
  padding: 0.1875em 0;
  background-color: #ffffe9;
  background-color: rgba(255, 255, 255, 0.5);
  color: #270000;
  font-family: inherit;
  font-size: 16px;
  font-size: 1em;
  border-width: 0.0625em;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.25);
  border-radius: 0.25em;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.25);
}

input:required,
textarea:required,
select:required {
  border-color: rgba(0, 0, 0, 0.5);
}
input:hover,
textarea:hover,
select:hover {
  border-color: rgba(0, 0, 0, 0.75);
}

input[type="number"] {
  width: 4em;
  text-align: right;
}

form[method="post"] label {
  display: block;
  cursor: inherit;
}
form[method="post"] input,
form[method="post"] textarea {
  width: 100%;
  max-width: 50em;
  box-sizing: border-box;
}
form[method="post"] input[type="radio"],
form[method="post"] input[type="checkbox"],
form[method="post"] input[type="submit"],
form[method="post"] input[type="date"],
form[method="post"] input[type="datetime"] {
  width: auto;
}
form[method="post"] input[type="number"] {
  width: 5em;
  text-align: left;
}
form[method="post"] input:invalid:focus,
form[method="post"] textarea:invalid:focus,
form[method="post"] select:invalid:focus {
  border-color: rgba(102, 0, 0, 0.5);
}
form[method="post"] input:invalid:hover,
form[method="post"] textarea:invalid:hover,
form[method="post"] select:invalid:hover {
  border-color: rgba(102, 0, 0, 0.75);
}
form[method="post"] input:valid:focus,
form[method="post"] textarea:valid:focus,
form[method="post"] select:valid:focus {
  border-color: rgba(0, 102, 0, 0.5);
}
form[method="post"] input:valid:hover,
form[method="post"] textarea:valid:hover,
form[method="post"] select:valid:hover {
  border-color: rgba(0, 102, 0, 0.75);
}
form[method="post"] input[type="submit"]:valid,
form[method="post"] input[type="submit"]:invalid {
  border-color: #930;
}

@media all and (max-width: 20em) {
  form[method="post"] select,
  form[method="post"] button,
  form[method="post"] input[type="submit"] {
    width: 100%;
    margin: 0.125em 0;
  }
}
h1, h2, h3, h4, h5, h6 {
  color: #630;
  color: rgba(102, 51, 0, 0.9);
  font-weight: normal;
  line-height: 1.25;
  border-bottom-style: solid;
  border-bottom-color: #efead1;
  border-bottom-color: rgba(102, 51, 0, 0.1);
  word-wrap: break-word;
}

h1 {
  font-size: 32px;
  font-size: 2em;
  border-bottom-width: 0.09375em;
}

h2 {
  font-size: 24px;
  font-size: 1.5em;
  border-bottom-width: 0.0833em;
}

h3 {
  font-size: 20px;
  font-size: 1.25em;
  border-bottom-width: 0.05em;
}

h4 {
  font-size: 18px;
  font-size: 1.125em;
}

h5 {
  font-size: 17px;
  font-size: 1.0625em;
}

h6 {
  font-size: 16px;
  font-size: 1em;
}

article h2 {
  padding-top: 1em;
}

a {
  text-decoration: none;
  word-wrap: break-word;
  -webkit-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}

a:link,
a:visited {
  color: #b30;
}

a:hover {
  color: #c30;
  text-decoration: underline;
}

a:focus {
  color: #c30;
  outline: 1px dotted #996;
  text-decoration: underline;
}

a:active {
  color: #a30;
  text-decoration: underline;
}

h2 a:link,
h2 a:visited {
  color: #900;
}

[rel="prev"]:before {
  content: '« ';
}

[rel="next"]:before {
  content: '» ';
}

ul {
  margin-left: 0;
  padding-left: 0;
}

ol {
  margin-left: 2em;
  padding-left: 0;
}

@media all and (min-width: 40em) {
  ol {
    margin-left: 0;
  }
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 0.25em 0.5em;
  border: none;
  vertical-align: text-top;
}

.bill-item {
  display: inline-block;
  width: 100%;
}

.bill-item-title {
  display: inline-block;
}

.bill-item-cost {
  display: inline-block;
  float: right;
}

button,
input[type="submit"],
.button {
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-size: 1em;
  font-variant: small-caps;
  text-align: center;
  text-transform: lowercase;
  text-indent: 0.125em;
  text-shadow: 0 -0.0625em 0 rgba(0, 0, 0, 0.25);
  letter-spacing: 0.125em;
  line-height: 1;
  border: 0.0625em solid;
  border-radius: 0.25em;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(1, rgba(0, 0, 0, 0.2)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 0.375em 1em 0.5em;
  margin: 0;
  box-shadow: inset 0 0.0625em 0.0625em rgba(255, 255, 255, 0.25);
  color: #ffc;
  color: rgba(255, 255, 204, 0.9);
  background-color: #c63;
  border-color: #8f4724;
  border-bottom-color: #7a3d1f;
  border-top-color: #c63;
}
button:link, button:visited,
input[type="submit"]:link,
input[type="submit"]:visited,
.button:link,
.button:visited {
  background-color: #c63;
}
button:hover, button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.button:hover,
.button:focus {
  background-color: #b85c2e;
  border-color: #7a3d1f;
  border-bottom-color: #66331a;
  border-top-color: #b85c2e;
}
button:active,
input[type="submit"]:active,
.button:active {
  background-color: #a35229;
  border-color: #a35229;
}

@media all and (max-width: 20em) {
  input[type="submit"] + input[type="submit"],
  .button + .button,
  button + button {
    float: right;
  }
}
a.button:link, a.button:visited {
  color: #ffc;
  color: rgba(255, 255, 204, 0.9);
}
a.button:hover, a.button:focus {
  text-decoration: none;
}
a.button:active {
  background-image: none;
  box-shadow: inset 0 0 0.5em 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

button.link {
  color: #b30;
  background: none;
  border: none;
  box-shadow: none;
  box-sizing: inherit;
  display: inherit;
  text-shadow: none;
  text-indent: inherit;
  text-align: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  white-space: inherit;
  letter-spacing: inherit;
  padding: inherit;
  margin: inherit;
  line-height: inherit;
  font-variant: inherit;
  -webkit-font-smoothing: auto;
}
button.link:hover {
  color: #c30;
  text-decoration: underline;
}
button.link:focus {
  color: #c30;
  outline: 1px dotted #996;
  text-decoration: underline;
}

.icon {
  padding: 0.5em 0.4375em 0.375em;
  font-weight: bold;
  border-radius: 0.25em;
}

.action {
  display: inline-block;
  padding: 0.1875em 1em 0.3125em;
}
.action:before {
  width: 1em;
  height: 1em;
  display: inline-block;
  float: left;
  speak: none;
  margin-left: -0.375em;
  margin-right: 0.375em;
  margin-top: 0.0625em;
  margin-bottom: -0.0625em;
  background-image: none;
  background-repeat: no-repeat;
  background-size: 1em;
}
.action:after {
  width: 1em;
  height: 1em;
  display: inline-block;
  float: right;
  speak: none;
  margin-left: 0.375em;
  margin-right: -0.375em;
  margin-top: 0.0625em;
  margin-bottom: -0.0625em;
  background-image: none;
  background-repeat: no-repeat;
  background-size: 1em;
}

@media all and (max-width: 20em) {
  .action {
    width: 100%;
    margin: 0.125em 0;
    padding: 0.3125em 1em 0.4325em;
  }
}
@media all and (min-width: 46em) {
  button.action,
  .button.action,
  input[type="submit"].action {
    min-width: 13.25em;
  }
}
.video:before {
  content: ' ';
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2264%22%20height%3D%2264%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20d%3D%22M52%208h-40c-6.6%200-12%205.4-12%2012v24c0%206.6%205.4%2012%2012%2012h40c6.6%200%2012-5.4%2012-12v-24c0-6.6-5.4-12-12-12zM60%2044c0%202.124-0.836%204.129-2.353%205.647s-3.523%202.353-5.647%202.353h-40c-2.124%200-4.129-0.836-5.646-2.353s-2.354-3.523-2.354-5.647v-24c0-2.124%200.836-4.129%202.354-5.646s3.523-2.354%205.646-2.354h40c2.124%200%204.129%200.836%205.647%202.354s2.353%203.523%202.353%205.646v24zM24%2048l20-16-20-16z%22%20fill%3D%22%23ffffcc%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.message:before {
  content: ' ';
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2264%22%20height%3D%2264%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20d%3D%22M58%208h-52c-3.3%200-6%202.7-6%206v40c0%203.3%202.7%206%206%206h52c3.3%200%206-2.7%206-6v-40c0-3.3-2.7-6-6-6zM24.921%2034.398l-16.921%2013.181v-31.353l16.921%2018.172zM11.024%2016h41.953l-20.976%2015.75-20.976-15.75zM25.581%2035.106l6.419%206.894%206.419-6.894%2013.16%2016.894h-39.158l13.16-16.894zM39.079%2034.398l16.921-18.172v31.353l-16.921-13.181z%22%20fill%3D%22%23ffffcc%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.download:before {
  content: ' ';
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2264%22%20height%3D%2264%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20d%3D%22M46%2028l-16%2016-16-16h10v-24h12v24zM30%2044h-30v16h60v-16h-30zM56%2052h-8v-4h8v4z%22%20fill%3D%22%23ffffcc%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.add:before {
  content: ' ';
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2264%22%20height%3D%2264%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20d%3D%22M62%2024h-22v-22c0-1.105-0.895-2-2-2h-12c-1.105%200-2%200.895-2%202v22h-22c-1.105%200-2%200.895-2%202v12c0%201.105%200.895%202%202%202h22v22c0%201.105%200.895%202%202%202h12c1.105%200%202-0.895%202-2v-22h22c1.105%200%202-0.895%202-2v-12c0-1.105-0.895-2-2-2z%22%20fill%3D%22%23ffffcc%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.remove:before {
  content: ' ';
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2264%22%20height%3D%2264%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20d%3D%22M0%2026v12c0%201.105%200.895%202%202%202h60c1.105%200%202-0.895%202-2v-12c0-1.105-0.895-2-2-2h-60c-1.105%200-2%200.895-2%202z%22%20fill%3D%22%23ffffcc%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.edit:before {
  content: ' ';
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2264%22%20height%3D%2264%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20d%3D%22M54%200c5.523%200%2010%204.477%2010%2010%200%202.251-0.744%204.329-2%206l-4%204-14-14%204-4c1.671-1.256%203.749-2%206-2zM4%2046l-4%2018%2018-4%2037-37-14-14-37%2037zM44.724%2022.724l-28%2028-3.447-3.447%2028-28%203.447%203.447z%22%20fill%3D%22%23ffffcc%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.listen:before {
  content: ' ';
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2264%22%20height%3D%2264%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20d%3D%22M44.971%2051.971c-0.768%200-1.535-0.293-2.121-0.879-1.172-1.172-1.172-3.071%200-4.243%208.188-8.188%208.188-21.511%200-29.698-1.172-1.172-1.172-3.071%200-4.243s3.071-1.171%204.243%200c5.1%205.099%207.908%2011.88%207.908%2019.092s-2.809%2013.992-7.908%2019.092c-0.586%200.586-1.353%200.879-2.121%200.879v0zM34.314%2046.314c-0.768%200-1.535-0.293-2.121-0.879-1.172-1.172-1.172-3.071%200-4.242%205.069-5.069%205.069-13.316%200-18.385-1.172-1.172-1.172-3.071%200-4.243s3.071-1.172%204.243%200c7.408%207.408%207.408%2019.462%200%2026.87-0.586%200.586-1.353%200.878-2.121%200.878z%22%20fill%3D%22%23ffffcc%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M26%2060c-0.52%200-1.032-0.203-1.415-0.586l-15.414-15.414h-7.172c-1.105%200-2-0.895-2-2v-20c0-1.105%200.895-2%202-2h7.172l15.414-15.414c0.572-0.572%201.432-0.743%202.18-0.434s1.235%201.039%201.235%201.848v52c0%200.809-0.487%201.538-1.235%201.848-0.247%200.102-0.507%200.152-0.765%200.152z%22%20fill%3D%22%23ffffcc%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.music:before {
  content: ' ';
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2264%22%20height%3D%2264%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20d%3D%22M60%200h4v46c0%205.523-6.268%2010-14%2010s-14-4.477-14-10c0-5.523%206.268-10%2014-10%203.918%200%207.459%201.15%2010%203.002v-23.003l-32%207.111v30.889c0%205.523-6.268%2010-14%2010s-14-4.477-14-10c0-5.523%206.268-10%2014-10%203.918%200%207.459%201.15%2010%203.002v-39.002l36-8z%22%20fill%3D%22%23ffffcc%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.print:before {
  content: ' ';
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2264%22%20height%3D%2264%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20d%3D%22M16%204h32v8h-32v-8z%22%20fill%3D%22%23ffffcc%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M60%2016h-56c-2.2%200-4%201.8-4%204v20c0%202.2%201.8%204%204%204h12v16h32v-16h12c2.2%200%204-1.8%204-4v-20c0-2.2-1.8-4-4-4zM8%2028c-2.209%200-4-1.791-4-4s1.791-4%204-4%204%201.791%204%204-1.791%204-4%204zM44%2056h-24v-20h24v20z%22%20fill%3D%22%23ffffcc%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.share:before {
  content: ' ';
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2264%22%20height%3D%2264%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20d%3D%22M16%2040c0%200%203.677-12%2024-12v12l24-16-24-16v12c-16%200-24%209.98-24%2020zM44%2048h-36v-24h7.867c0.631-0.745%201.307-1.458%202.031-2.136%202.748-2.574%206.035-4.541%209.757-5.864h-27.655v40h52v-16.789l-8%205.333v3.456z%22%20fill%3D%22%23ffffcc%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.tunebook:not(.add):not(.remove):before,
.tunebook.add:after,
.tunebook.remove:after {
  content: ' ';
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2264%22%20height%3D%2264%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20d%3D%22M57.363%2014.317c-1.388-1.893-3.323-4.106-5.449-6.231s-4.338-4.060-6.231-5.449c-3.223-2.364-4.787-2.637-5.683-2.637h-31c-2.757%200-5%202.243-5%205v54c0%202.757%202.243%205%205%205h46c2.757%200%205-2.243%205-5v-39c0-0.896-0.273-2.459-2.637-5.683v0zM49.086%2010.914c1.919%201.919%203.425%203.65%204.536%205.086h-9.622v-9.622c1.436%201.111%203.167%202.617%205.086%204.536v0zM56%2059c0%200.542-0.458%201-1%201h-46c-0.542%200-1-0.458-1-1v-54c0-0.542%200.458-1%201-1%200%200%2030.997-0%2031%200v14c0%201.105%200.895%202%202%202h14v39z%22%20fill%3D%22%23ffffcc%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M47.268%2024.453c-0.463-0.38-1.073-0.532-1.66-0.415l-20%204c-0.935%200.187-1.608%201.008-1.608%201.961v14.805c-1.177-0.511-2.542-0.805-4-0.805-4.418%200-8%202.686-8%206s3.582%206%208%206%208-2.686%208-6v-14.36l16-3.2v8.365c-1.177-0.511-2.542-0.805-4-0.805-4.418%200-8%202.686-8%206s3.582%206%208%206%208-2.686%208-6v-20c0-0.599-0.269-1.167-0.732-1.547z%22%20fill%3D%22%23ffffcc%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.place:not(.add):not(.remove):not(.edit):before,
.place.add:after,
.place.remove:after,
.place.edit:after {
  content: ' ';
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2264%22%20height%3D%2264%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20d%3D%22M32%200c-11.046%200-20%208.954-20%2020%200%2020%2020%2044%2020%2044s20-24%2020-44c0-11.046-8.954-20-20-20zM32%2032.25c-6.765%200-12.25-5.485-12.25-12.25s5.485-12.25%2012.25-12.25%2012.25%205.485%2012.25%2012.25-5.484%2012.25-12.25%2012.25zM24.25%2020c0-4.28%203.47-7.75%207.75-7.75s7.75%203.47%207.75%207.75c0%204.28-3.47%207.75-7.75%207.75s-7.75-3.47-7.75-7.75z%22%20fill%3D%22%23ffffcc%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.place:not(.add):not(.remove):not(.edit):not(.button):not(button):before {
  content: ' ';
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2264%22%20height%3D%2264%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20d%3D%22M32%200c-11.046%200-20%208.954-20%2020%200%2020%2020%2044%2020%2044s20-24%2020-44c0-11.046-8.954-20-20-20zM32%2032.25c-6.765%200-12.25-5.485-12.25-12.25s5.485-12.25%2012.25-12.25%2012.25%205.485%2012.25%2012.25-5.484%2012.25-12.25%2012.25zM24.25%2020c0-4.28%203.47-7.75%207.75-7.75s7.75%203.47%207.75%207.75c0%204.28-3.47%207.75-7.75%207.75s-7.75-3.47-7.75-7.75z%22%20fill%3D%22%23bb3300%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.back,
input[type="submit"].back,
form[method="post"] input[type="submit"]:valid.back,
form[method="post"] input[type="submit"]:invalid.back {
  background-color: #c96;
  border-color: #963;
}

.cancel {
  background-color: #c00;
  border-color: maroon;
  border-bottom-color: #660000;
  border-top-color: #c00;
}
.cancel:link, .cancel:visited {
  background-color: #c00;
}
.cancel:hover, .cancel:focus {
  background-color: #b30000;
  border-color: #660000;
  border-bottom-color: #4d0000;
  border-top-color: #b30000;
}
.cancel:active {
  background-color: #990000;
  border-color: #990000;
}

.admin {
  background-color: #c90;
  border-color: #806000;
  border-bottom-color: #664d00;
  border-top-color: #c90;
}
.admin:link, .admin:visited {
  background-color: #c90;
}
.admin:hover, .admin:focus {
  background-color: #b38600;
  border-color: #664d00;
  border-bottom-color: #4d3900;
  border-top-color: #b38600;
}
.admin:active {
  background-color: #997300;
  border-color: #997300;
}

.reveal {
  background-color: #930;
  border-color: #4d1a00;
  border-bottom-color: #331100;
  border-top-color: #930;
}
.reveal:link, .reveal:visited {
  background-color: #930;
}
.reveal:hover, .reveal:focus {
  background-color: #802b00;
  border-color: #331100;
  border-bottom-color: #1a0900;
  border-top-color: #802b00;
}
.reveal:active {
  background-color: #662200;
  border-color: #662200;
}

.tally {
  font-variant-numeric: lining-nums;
  padding: 0.125em 0.25em;
  background-color: #c06;
  border-color: #800040;
  border-bottom-color: #660033;
  border-top-color: #c06;
}
.tally:link, .tally:visited {
  background-color: #c06;
}
.tally:hover, .tally:focus {
  background-color: #b30059;
  border-color: #660033;
  border-bottom-color: #4d0026;
  border-top-color: #b30059;
}
.tally:active {
  background-color: #99004d;
  border-color: #99004d;
}

.chartbar {
  display: block;
  height: 0.5em;
  background-color: #edc;
  background-color: rgba(153, 102, 51, 0.125);
  border-radius: 0.125em;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(153, 102, 51, 0.05)), color-stop(1, rgba(153, 102, 51, 0.2)));
  background-image: -webkit-linear-gradient(rgba(153, 102, 51, 0.05), rgba(153, 102, 51, 0.2));
  background-image: linear-gradient(rgba(153, 102, 51, 0.05), rgba(153, 102, 51, 0.2));
}

.emoticon {
  display: inline-block;
  width: 1em;
  height: 1em;
  overflow: hidden;
  color: transparent;
  text-indent: -10em;
  background-repeat: no-repeat;
  background-size: 1em;
}

.smile {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20enable-background%3D%22new%200%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23fbb041%22%20d%3D%22m64.12%2031.936c0%2017.71-14.352%2032.06-32.07%2032.06-17.706%200-32.06-14.354-32.06-32.06%200-17.708%2014.352-32.06%2032.06-32.06%2017.714%200%2032.07%2014.354%2032.07%2032.06%22%2F%3E%3Cg%20opacity%3D%22.987%22%3E%3Cg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22m27.488%2024.636c0%205.38-2.907%209.739-6.498%209.739-3.591%200-6.504-4.359-6.504-9.739%200-5.376%202.913-9.735%206.504-9.735%203.591%200%206.498%204.359%206.498%209.735%22%2F%3E%3Cpath%20d%3D%22m49.48%2024.636c0%205.38-2.905%209.739-6.495%209.739-3.591%200-6.504-4.359-6.504-9.739%200-5.376%202.913-9.735%206.504-9.735%203.59%200%206.495%204.359%206.495%209.735%22%2F%3E%3C%2Fg%3E%3Cg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%2325333a%22%3E%3Cpath%20d%3D%22m25.2%2024.636c0%202.819-1.884%205.101-4.206%205.101-2.326%200-4.208-2.282-4.208-5.101%200-2.811%201.882-5.099%204.208-5.099%202.322%200%204.206%202.288%204.206%205.099%22%2F%3E%3Cpath%20d%3D%22m47.19%2024.636c0%202.819-1.884%205.101-4.207%205.101-2.326%200-4.206-2.282-4.206-5.101%200-2.811%201.88-5.099%204.206-5.099%202.324%200%204.207%202.288%204.207%205.099%22%2F%3E%3C%2Fg%3E%3Cpath%20fill%3D%22%23e79d3c%22%20d%3D%22m15.255%2041.21c-5.679-12.189-5.933-25.31-.796-36.16-8.705%205.73-14.459%2015.579-14.459%2026.783%200%2017.71%2014.352%2032.06%2032.06%2032.06.321%200%20.629-.04.943-.048-7.351-6.185-13.548-13.63-17.746-22.64%22%2F%3E%3C%2Fg%3E%3Cpath%20fill%3D%22%23633d19%22%20d%3D%22m44.564%2039.39c-.626%200-1.247%200-1.873%200-.1%200-.162.035-.25.049-.099.014-.189.018-.285.058-.158.06-.289.154-.407.264-.024.021-.052.025-.075.051-4.522%204.408-10.447%205.414-16.09%202.511-3.03-1.558-2.78-2.932-6.02-2.932-1.327%200-1.822%201.538-1.018%202.459%207.315%208.443%2019.726%208.443%2027.05%200%20.796-.922.305-2.46-1.022-2.46%22%2F%3E%3Cg%20fill%3D%22%23633d19%22%2F%3E%3C%2Fsvg%3E");
}

.laugh {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20enable-background%3D%22new%200%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23fbb041%22%20d%3D%22M63.97%2C31.984c0%2C17.667-14.317%2C31.982-31.983%2C31.982C14.315%2C63.966%2C0%2C49.65%2C0%2C31.984%20%20%20%20%20C0%2C14.319%2C14.315%2C0%2C31.986%2C0C49.652%2C0%2C63.97%2C14.319%2C63.97%2C31.984z%22%2F%3E%3Cg%20opacity%3D%22.987%22%3E%3Cpath%20fill%3D%22%23e79d3c%22%20d%3D%22m15.221%2041.34c-5.669-12.167-5.918-25.26-.795-36.07-8.686%205.718-14.426%2015.54-14.426%2026.722%200%2017.662%2014.315%2031.978%2031.986%2031.978.314%200%20.623-.035.938-.041-7.334-6.182-13.513-13.601-17.703-22.585%22%2F%3E%3C%2Fg%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22m27.488%2024.636c0%205.38-2.907%209.739-6.498%209.739-3.591%200-6.504-4.359-6.504-9.739%200-5.376%202.913-9.735%206.504-9.735%203.591%200%206.498%204.359%206.498%209.735%22%2F%3E%3Cpath%20d%3D%22m49.48%2024.636c0%205.38-2.905%209.739-6.495%209.739-3.591%200-6.504-4.359-6.504-9.739%200-5.376%202.913-9.735%206.504-9.735%203.59%200%206.495%204.359%206.495%209.735%22%2F%3E%3C%2Fg%3E%3Cg%20fill%3D%22%2325333a%22%3E%3Cpath%20d%3D%22m25.2%2024.636c0%202.819-1.884%205.101-4.206%205.101-2.326%200-4.208-2.282-4.208-5.101%200-2.811%201.882-5.099%204.208-5.099%202.322%200%204.206%202.288%204.206%205.099%22%2F%3E%3Cpath%20d%3D%22m47.19%2024.636c0%202.819-1.884%205.101-4.207%205.101-2.326%200-4.206-2.282-4.206-5.101%200-2.811%201.88-5.099%204.206-5.099%202.324%200%204.207%202.288%204.207%205.099%22%2F%3E%3C%2Fg%3E%3Cpath%20fill%3D%22%23633d19%22%20d%3D%22m51.996%2039.27c0%2011.05-8.963%2020.01-20.01%2020.01-11.04%200-20.01-8.965-20.01-20.01%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m48.566%2041.29c0%204.411-7.578%207.994-16.92%207.994-9.334%200-16.915-3.583-16.915-7.994%22%2F%3E%3C%2Fsvg%3E");
}

.frown {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20enable-background%3D%22new%200%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23fbb041%22%20d%3D%22M63.958%2C31.979c0%2C17.665-14.314%2C31.979-31.979%2C31.979C14.315%2C63.958%2C0%2C49.644%2C0%2C31.979%20%20%20%20%20C0%2C14.315%2C14.315%2C0%2C31.979%2C0C49.644%2C0%2C63.958%2C14.315%2C63.958%2C31.979z%22%2F%3E%3Cg%20opacity%3D%22.987%22%3E%3Cpath%20fill%3D%22%23e79d3c%22%20d%3D%22m15.219%2041.23c-5.668-12.158-5.921-25.24-.798-36.06-8.682%205.715-14.421%2015.539-14.421%2026.713%200%2017.665%2014.315%2031.979%2031.979%2031.979.316%200%20.624-.04.936-.048-7.331-6.169-13.509-13.595-17.696-22.581%22%2F%3E%3C%2Fg%3E%3Cg%20fill%3D%22%23633d19%22%3E%3Cpath%20d%3D%22m41.4%2052.06c-.225%200-4.333-1.576-8.48-1.576-3.705%200-7.441%201.576-8.48%201.576-.9%200-1.236-1.043-.691-1.667%204.961-5.728%2013.379-5.728%2018.344%200%20.539.624.203%201.667-.693%201.667%22%2F%3E%3Cpath%20d%3D%22m54.832%2040.1c-1%202.991-3.919-1.715-7.487-2.907-3.567-1.193-8.729.812-7.729-2.183.999-2.992%206.122-4.876%209.691-3.684%203.567%201.193%206.526%205.779%205.525%208.774%22%2F%3E%3Cpath%20d%3D%22m10.04%2040.1c1%202.991%203.918-1.715%207.487-2.907%203.567-1.193%208.729.812%207.728-2.183-.999-2.992-6.122-4.876-9.691-3.684-3.567%201.193-6.525%205.779-5.524%208.774%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.gasp {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20enable-background%3D%22new%200%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23fbb041%22%20d%3D%22m64.14%2032.07c0%2017.662-14.314%2031.979-31.979%2031.979s-31.978-14.316-31.978-31.979%2014.314-31.98%2031.979-31.98%2031.978%2014.318%2031.978%2031.98%22%2F%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22m27.552%2021.234c0%205.38-2.907%209.732-6.498%209.732-3.59%200-6.501-4.353-6.501-9.732%200-5.376%202.911-9.733%206.501-9.733%203.591%200%206.498%204.357%206.498%209.733%22%2F%3E%3Cpath%20d%3D%22m49.545%2021.234c0%205.38-2.907%209.732-6.498%209.732-3.59%200-6.501-4.353-6.501-9.732%200-5.376%202.911-9.733%206.501-9.733%203.591%200%206.498%204.357%206.498%209.733%22%2F%3E%3C%2Fg%3E%3Cg%20fill%3D%22%2325333a%22%3E%3Cellipse%20cx%3D%2221.05%22%20cy%3D%2221.234%22%20rx%3D%224.206%22%20ry%3D%225.099%22%2F%3E%3Cellipse%20cx%3D%2243.05%22%20cy%3D%2221.234%22%20rx%3D%224.206%22%20ry%3D%225.099%22%2F%3E%3C%2Fg%3E%3Cg%20opacity%3D%22.987%22%3E%3Cpath%20fill%3D%22%23e79d3c%22%20d%3D%22m15.406%2041.34c-5.669-12.158-5.921-25.25-.799-36.07-8.681%205.72-14.42%2015.543-14.42%2026.717%200%2017.662%2014.314%2031.979%2031.979%2031.979.316%200%20.622-.039.937-.049-7.333-6.168-13.511-13.594-17.697-22.58%22%2F%3E%3C%2Fg%3E%3Cellipse%20fill%3D%22%23633d19%22%20cx%3D%2232.733%22%20cy%3D%2246.908%22%20rx%3D%2210.172%22%20ry%3D%2210.09%22%2F%3E%3C%2Fsvg%3E");
}

.undecided {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20enable-background%3D%22new%200%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23fbb041%22%20d%3D%22m63.29%2031.941c0%2017.476-14.167%2031.645-31.645%2031.645-17.48%200-31.649-14.169-31.649-31.645%200-17.48%2014.169-31.649%2031.649-31.649%2017.478%200%2031.645%2014.169%2031.645%2031.649%22%2F%3E%3Cellipse%20fill%3D%22%23fff%22%20cx%3D%2242.16%22%20cy%3D%2227.514%22%20rx%3D%226.432%22%20ry%3D%229.631%22%2F%3E%3Cpath%20fill%3D%22%2325333a%22%20d%3D%22m37.998%2027.514c0%202.787%201.86%205.05%204.16%205.05%202.301%200%204.161-2.259%204.161-5.05%200-2.787-1.86-5.05-4.161-5.05-2.3%200-4.16%202.26-4.16%205.05%22%2F%3E%3Cg%20opacity%3D%22.987%22%3E%3Cpath%20fill%3D%22%23e79d3c%22%20d%3D%22m15.06%2041.1c-5.608-12.03-5.86-24.985-.789-35.69-8.591%205.659-14.274%2015.381-14.274%2026.438%200%2017.476%2014.169%2031.645%2031.649%2031.645.312%200%20.614-.039.924-.047-7.252-6.105-13.365-13.454-17.51-22.346%22%2F%3E%3C%2Fg%3E%3Cellipse%20fill%3D%22%23fff%22%20cx%3D%2220.649%22%20cy%3D%2227.19%22%20rx%3D%226.432%22%20ry%3D%229.631%22%2F%3E%3Cellipse%20fill%3D%22%2325333a%22%20cx%3D%2220.649%22%20cy%3D%2227.19%22%20rx%3D%224.161%22%20ry%3D%225.05%22%2F%3E%3Cpath%20fill%3D%22%23633d19%22%20d%3D%22m45.04%2042.849c-10.166-1.612-21.15%201.373-30.25%205.839-2.02.993-.592%204.192%201.442%203.195%208.56-4.201%2018.866-7.07%2028.44-5.55%202.234.355%202.591-3.131.366-3.484%22%2F%3E%3C%2Fsvg%3E");
}

.cool {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20enable-background%3D%22new%200%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23fbb041%22%20d%3D%22m63.771%2031.617c0%2017.572-14.24%2031.814-31.812%2031.814-17.572%200-31.812-14.242-31.812-31.814%200-17.57%2014.24-31.812%2031.812-31.812%2017.572%200%2031.812%2014.241%2031.812%2031.812%22%2F%3E%3Cg%20opacity%3D%22.987%22%3E%3Cpath%20fill%3D%22%23e79d3c%22%20d%3D%22m15.287%2040.815c-5.639-12.09-5.89-25.11-.793-35.875-8.637%205.686-14.347%2015.458-14.347%2026.575%200%2017.572%2014.24%2031.812%2031.812%2031.812.314%200%20.625-.039.931-.047-7.292-6.138-13.438-13.525-17.603-22.465%22%2F%3E%3C%2Fg%3E%3Cg%20fill%3D%22%2325333a%22%3E%3Cpath%20d%3D%22m4.389%2019c.619%200%2021.68%200%2024.912%200%201.322%200%201.817%203.279%201.016%205.246-7.289%2018-19.654%2018-26.945%200-.8-1.966-.301-5.246%201.017-5.246%22%2F%3E%3Cpath%20d%3D%22m34.632%2019.04c.618%200%2021.586%200%2024.804%200%201.314%200%201.81%203.267%201.01%205.224-7.256%2017.922-19.562%2017.922-26.824%200-.794-1.957-.301-5.224%201.01-5.224%22%2F%3E%3C%2Fg%3E%3Cg%20fill%3D%22%2356717f%22%3E%3Cpath%20d%3D%22m37.16%2021.943c0%201.187-.932%202.143-2.073%202.143h-6.267c-1.137%200-2.067-.957-2.067-2.143l0%200c0-1.183.93-2.144%202.067-2.144h6.267c1.141%200%202.073.961%202.073%202.144l0%200%22%2F%3E%3Cpath%20d%3D%22m59%2022.752c.44.617-.684%202.244-2.507%203.637l-9.982%207.623c-1.823%201.389-3.652%202.02-4.093%201.4l0%200c-.438-.61.683-2.241%202.508-3.63l9.982-7.625c1.823-1.389%203.654-2.02%204.092-1.405l0%200%22%2F%3E%3Cpath%20d%3D%22m49.36%2019.938c.219.307-.346%201.124-1.257%201.819l-4.988%203.812c-.916.694-1.829%201.01-2.05.702l0%200c-.22-.305.34-1.124%201.256-1.819l4.988-3.81c.912-.696%201.832-1.012%202.051-.704l0%200%22%2F%3E%3Cpath%20d%3D%22m23.68%2021.291c.387.546-.609%201.99-2.222%203.226l-8.867%206.768c-1.619%201.232-3.244%201.792-3.631%201.244l0%200c-.393-.542.603-1.988%202.224-3.226l8.863-6.766c1.616-1.235%203.245-1.793%203.633-1.246l0%200%22%2F%3E%3Cpath%20d%3D%22m22.482%2028.377c.19.273-.303.994-1.112%201.613l-4.427%203.383c-.812.617-1.628.897-1.819.625l0%200c-.196-.271.301-.998%201.11-1.615l4.432-3.381c.806-.619%201.624-.898%201.816-.625l0%200%22%2F%3E%3C%2Fg%3E%3Cpath%20fill%3D%22%23633d19%22%20d%3D%22m44.37%2044.55c-.621%200-1.241%200-1.862%200-.095%200-.161.036-.248.05-.094.014-.185.018-.278.057-.161.059-.291.153-.405.262-.023.021-.055.025-.078.051-4.487%204.373-10.366%205.371-15.965%202.491-3.01-1.546-2.759-2.91-5.977-2.91-1.316%200-1.808%201.527-1.014%202.44%207.262%208.377%2019.577%208.377%2026.837%200%20.794-.914.307-2.441-1.01-2.441%22%2F%3E%3C%2Fsvg%3E");
}

.tongue {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20enable-background%3D%22new%200%200%2064%2064%22%3E%3Ccircle%20fill%3D%22%23fbb041%22%20cx%3D%2231.86%22%20cy%3D%2229.861%22%20r%3D%2229.86%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m28.16%2023.456c0%205.313-2.871%209.613-6.417%209.613-3.546%200-6.421-4.299-6.421-9.613%200-5.31%202.875-9.612%206.421-9.612%203.546-.0001%206.417%204.302%206.417%209.612%22%2F%3E%3Cellipse%20fill%3D%22%2325333a%22%20cx%3D%2221.742%22%20cy%3D%2223.456%22%20rx%3D%224.155%22%20ry%3D%225.04%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m48.52%2023.456c0%205.313-2.871%209.613-6.418%209.613-3.546%200-6.421-4.299-6.421-9.613%200-5.31%202.875-9.612%206.421-9.612%203.547-.0001%206.418%204.302%206.418%209.612%22%2F%3E%3Cellipse%20fill%3D%22%2325333a%22%20cx%3D%2242.1%22%20cy%3D%2223.456%22%20rx%3D%224.155%22%20ry%3D%225.04%22%2F%3E%3Cg%20opacity%3D%22.987%22%3E%3Cpath%20fill%3D%22%23e79d3c%22%20d%3D%22m16.212%2038.594c-5.292-11.356-5.528-23.574-.745-33.677-8.107%205.339-13.467%2014.511-13.467%2024.946%200%2016.492%2013.367%2029.859%2029.861%2029.859.294%200%20.583-.033.874-.043-6.844-5.763-12.614-12.694-16.523-21.09%22%2F%3E%3C%2Fg%3E%3Cpath%20fill%3D%22%23633d19%22%20d%3D%22m52.957%2036.767c0%2011.04-9.176%2020-20.483%2020-11.298%200-20.474-8.959-20.474-20%22%2F%3E%3Cpath%20fill%3D%22%23f45ba1%22%20d%3D%22m42.652%2056.08c0%204.055-4.574%207.342-10.218%207.342l0%200c-5.641%200-10.215-3.287-10.215-7.342l2.202-8.468c0-4.053%202.372-7.34%208.01-7.34l0%200c5.644%200%208.02%203.287%208.02%207.34l2.203%208.468%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m50.27%2037.896c0%203.739-7.987%206.772-17.834%206.772-9.842%200-17.83-3.03-17.83-6.772%22%2F%3E%3C%2Fsvg%3E");
}

.wink {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20enable-background%3D%22new%200%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23fbb041%22%20d%3D%22M63.953%2C31.98c0%2C17.66-14.312%2C31.979-31.975%2C31.979C14.314%2C63.959%2C0%2C49.641%2C0%2C31.98%20%20%20%20%20C0%2C14.316%2C14.314%2C0%2C31.979%2C0C49.641%2C0%2C63.953%2C14.316%2C63.953%2C31.98z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m27.365%2028.481c0%205.379-2.907%209.735-6.5%209.735-3.588%200-6.5-4.355-6.5-9.735%200-5.376%202.911-9.733%206.5-9.733%203.593%200%206.5%204.357%206.5%209.733%22%2F%3E%3Cpath%20fill%3D%22%2325333a%22%20d%3D%22m25.07%2028.481c0%202.816-1.882%205.099-4.205%205.099-2.326%200-4.208-2.283-4.208-5.099s1.882-5.098%204.208-5.098c2.323%200%204.205%202.282%204.205%205.098%22%2F%3E%3Cg%20opacity%3D%22.987%22%3E%3Cpath%20fill%3D%22%23e79d3c%22%20d%3D%22m15.219%2041.25c-5.668-12.158-5.921-25.25-.8-36.06-8.68%205.718-14.419%2015.541-14.419%2026.715%200%2017.662%2014.314%2031.979%2031.979%2031.979.314%200%20.62-.039.936-.047-7.332-6.17-13.509-13.596-17.696-22.582%22%2F%3E%3C%2Fg%3E%3Cg%20fill%3D%22%23633d19%22%3E%3Cpath%20d%3D%22m52.617%2031.11c0%203.158-4.261-.379-8.02-.379-3.763%200-8.02%203.537-8.02.379%200-3.156%204.26-6.564%208.02-6.564%203.761%200%208.02%203.409%208.02%206.564%22%2F%3E%3Cpath%20d%3D%22m23.496%2045.49c.225%200%204.333%201.578%208.482%201.578%203.703%200%207.441-1.578%208.479-1.578.9%200%201.236%201.045.691%201.669-4.961%205.726-13.378%205.726-18.344%200-.54-.624-.204-1.669.692-1.669%22%2F%3E%3Cpath%20d%3D%22m24.07%209.284c-5.951-.411-11.346%202.03-15.08%206.66-1.622%202.01%201.222%204.892%202.859%202.86%203.134-3.885%207.215-5.82%2012.221-5.475%202.606.182%202.588-3.865.0001-4.045%22%2F%3E%3Cpath%20d%3D%22m41.757%2018.04c5.95-.411%2011.346%202.03%2015.08%206.66%201.622%202.01-1.222%204.892-2.859%202.86-3.134-3.885-7.215-5.82-12.221-5.475-2.606.182-2.588-3.865%200-4.045%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.feedback {
  max-width: 800px;
  max-width: 50em;
  display: block;
  padding: 0.25em 1em;
  background-color: #fc3;
  color: #300;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.1);
  border: 0.1875em double rgba(0, 0, 0, 0.1);
  border-radius: 0.125em;
  box-sizing: border-box;
}
.feedback ul, .feedback ol {
  margin-left: 1em;
}

.error {
  background-color: #c00;
  color: #ffc;
}

.success {
  background-color: #cf9;
}

.hovercard {
  max-width: 15em;
  background-color: #ffffdf;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  border: 0.1875em double rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  padding: 0 1em;
  z-index: 3;
  transition: opacity .25s, transform 0.25s;
}

.hovercard.above {
  -webkit-transform: translateY(-0.5em);
  transform: translateY(-0.5em);
}

.hovercard.below {
  -webkit-transform: translateY(0.5em);
  transform: translateY(0.5em);
}

.hovercard.above::after,
.hovercard.below::after {
  content: ' ';
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  background-color: #ffffdf;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: calc(50% - 0.25em);
}

.hovercard.above::after {
  bottom: -0.5em;
  border-bottom: 0.1875em double rgba(0, 0, 0, 0.1);
  border-right: 0.1875em double rgba(0, 0, 0, 0.1);
}

.hovercard.below::after {
  top: -0.5em;
  border-top: 0.1875em double rgba(0, 0, 0, 0.1);
  border-left: 0.1875em double rgba(0, 0, 0, 0.1);
}

.hovercard[aria-hidden="true"] {
  opacity: 0;
}

.hovercard[aria-hidden="false"] {
  opacity: 1;
}

.info {
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.0125);
  padding: 1em;
  margin: 1em 0;
  border: 0.1875em double rgba(0, 0, 0, 0.05);
  border-radius: 0.125em;
  box-sizing: border-box;
}
.info ul {
  margin: 0;
}
.info li {
  margin-left: 1em;
}

.mapping .map-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 50%;
  border: 3px double;
  border-color: rgba(0, 0, 0, 0.25);
  margin: 1em 0;
}
.mapping .map-container .map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.mapping .map-container .credit {
  font-style: normal;
  text-decoration: none;
  position: absolute;
  bottom: 0.45em;
  left: 70px;
  z-index: 2;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
.mapping .map-container .credit a {
  color: inherit;
}

@media all and (min-width: 35em) {
  .mapping .map-container {
    padding-bottom: 40%;
  }
}
@media all and (min-width: 46em) {
  .mapping .map-container {
    padding-bottom: 30%;
  }
}
@media all and (min-width: 70em) {
  .mapping .map-container {
    padding-bottom: 25%;
  }
}
.menu {
  border-top: 1px solid;
}
.menu li {
  list-style: none;
  border-bottom: 1px solid;
  text-transform: uppercase;
  letter-spacing: 0.1875em;
  line-height: 1;
}
.menu a {
  text-decoration: none;
  display: block;
  padding: 0.75em 5%;
}
.menu a:link, .menu a:visited {
  color: #630;
  color: rgba(102, 51, 0, 0.75);
}
.menu a:hover, .menu a:focus {
  text-decoration: none;
  outline: none;
  color: #ffc;
  color: rgba(255, 255, 204, 0.75);
  background-color: #963;
  background-color: rgba(51, 0, 0, 0.25);
}
.menu a:active {
  color: #ffc;
  color: rgba(255, 255, 204, 0.75);
  background-color: #300;
  background-color: rgba(51, 0, 0, 0.75);
}
.menu .here a:link, .menu .here a:visited {
  color: #ffc;
  color: rgba(255, 255, 204, 0.825);
  background-color: #630;
  background-color: rgba(51, 0, 0, 0.5);
}
.menu .here a:hover, .menu .here a:focus {
  color: #ffc;
  color: rgba(255, 255, 204, 0.825);
  background-color: #300;
  background-color: rgba(51, 0, 0, 0.66);
}

.pagination {
  max-width: 800px;
  max-width: 50em;
  margin-bottom: 2em;
  overflow: hidden;
  text-align: center;
}
.pagination [rel="prev"] {
  float: left;
}
.pagination [rel="next"] {
  float: right;
}
.pagination [rel="prev"]:before,
.pagination [rel="next"]:before {
  content: '';
  margin-left: 0;
}

.pagination + [role="search"] {
  border-top: 0.125em solid rgba(102, 51, 0, 0.1);
  margin-top: 2em;
  padding-top: 2em;
}

.photo {
  max-width: 100%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 0.5em 0.5em 1em;
  margin: 0.25em;
  border: 1px solid;
  border-color: rgba(102, 51, 0, 0.25);
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.375);
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.125s linear;
  transition: box-shadow 0.125s linear;
}

a:hover .photo {
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.5);
}

.ribbon {
  font-size: 16px;
  font-size: 1em;
  display: block;
  margin: 0;
  padding: 0.5em;
  color: #300;
  color: rgba(51, 0, 0, 0.9);
  background-color: #e5b219;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eb2), color-stop(1, #da1));
  background-image: -webkit-linear-gradient(#eb2, #da1);
  background-image: linear-gradient(#eb2, #da1);
  border: 0.0625em dashed #c93;
  box-shadow: 0.25em 0.25em 0 #e5b219, -0.25em 0.25em 0 #e5b219, -0.25em -0.25em 0 #e5b219, 0.25em -0.25em 0 #e5b219;
}

a.ribbon,
a.ribbon:link,
a.ribbon:visited,
a.ribbon:hover,
a.ribbon:focus,
a.ribbon:active {
  color: #300;
  color: rgba(51, 0, 0, 0.9);
  text-decoration: none;
}

@media print {
  .ribbon {
    border: none;
  }
}
.sharing {
  line-height: 1;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}

.sharing-link {
  display: inline-block;
  width: 1.125em;
  height: 1.125em;
  padding: 0.25em;
  fill: #930;
}
.sharing-link:hover, .sharing-link:focus {
  background-color: #930;
  fill: #ffffe9;
}

.sharing-link--twitter {
  fill: #55acee;
}
.sharing-link--twitter:hover, .sharing-link--twitter:focus {
  background-color: #55acee;
  fill: #ffffe9;
}

.sharing-link--facebook {
  fill: #3b5998;
}
.sharing-link--facebook:hover, .sharing-link--facebook:focus {
  background-color: #3b5998;
  fill: #ffffe9;
}

.stats {
  display: table;
}
.stats li {
  display: table-row;
}
.stats .stat {
  display: table-cell;
}
.stats .stat + .stat {
  padding-left: 1em;
}

.toggle {
  position: relative;
  display: inline-block;
}

@media all and (max-width: 20em) {
  .toggle {
    width: 100%;
  }
}
.toggle-content.feedback {
  border-top-width: 0;
  margin-top: -0.125em;
}

.toggle-content button,
.toggle-content .button {
  min-width: 80%;
}

.toggle-content {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
}

.toggle-content[aria-hidden='true'] {
  display: none;
}

.toggle-content[aria-hidden='false'] {
  display: inline-block;
  z-index: 2;
}

.feed-entry {
  max-width: 800px;
  max-width: 50em;
  list-style: none;
  padding-bottom: 1.5em;
  margin-bottom: 1.4375em;
  border-bottom: 0.0625em solid rgba(0, 0, 0, 0.025);
}

.feed-entry-title {
  margin-bottom: 0;
  border-bottom-width: 0;
}

.feed-entry-author {
  word-wrap: break-word;
}

.feed-entry-author a:link,
.feed-entry-author a:visited {
  color: #c30;
}

.feed-entry--snippet p {
  margin: 0;
}

.feed-entry--comment .feed-entry-title {
  color: #960;
  margin-top: 0;
}

.gallery-item {
  list-style: none;
}

@media all and (min-width: 48em) {
  .gallery {
    display: table;
    width: 100%;
  }
  .gallery .gallery-item {
    display: table-cell;
    text-align: center;
  }
  .gallery .gallery-item:first-child {
    text-align: left;
  }
  .gallery .gallery-item:first-child .photo {
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }
  .gallery .gallery-item:last-child {
    text-align: right;
  }
  .gallery .gallery-item:last-child .photo {
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }
  .gallery .gallery-item,
  .gallery .gallery-item img {
    max-width: 100%;
  }
}
.manifest {
  max-width: 800px;
  max-width: 50em;
}

.manifest-title {
  margin-bottom: 0;
  padding-bottom: 0;
}

.manifest-inventory {
  border-top: 0.0625em solid rgba(0, 0, 0, 0.025);
  margin-top: 0;
  padding-top: 0;
}

ul.manifest-inventory > li {
  list-style: none;
}

.manifest-item {
  vertical-align: text-top;
  margin: 0;
  padding-top: 1.0625em;
  padding-bottom: 1em;
  border-bottom: 0.0625em solid rgba(0, 0, 0, 0.025);
}
.manifest-item:hover {
  background-color: rgba(0, 0, 0, 0.02);
  border-bottom-color: rgba(0, 0, 0, 0.01);
}

.manifest-item-title {
  font-size: 20px;
  font-size: 1.25em;
  line-height: 1.2;
}

.manifest-item-title b {
  font-weight: normal;
}

.manifest-item-extra {
  white-space: pre;
}

.manifest-meta {
  display: block;
  margin-top: 0.5em;
  color: #630;
}

.manifest-meta a:link,
.manifest-meta a:visited {
  color: #c30;
}

[role="search"] {
  margin-bottom: 2em;
}
[role="search"] label {
  display: block;
  font-size: 20px;
  font-size: 1.25em;
  vertical-align: middle;
}
[role="search"] select {
  padding: 0.4em 0.2em;
}
[role="search"] input[type="search"] {
  display: inline-block;
  padding: 0.4em 0.2em;
  width: 65%;
  max-width: 50em;
  -webkit-appearance: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
[role="search"] button {
  display: inline-block;
  width: 30%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -0.3125em;
  border-color: #960;
  border-top-color: #c93;
  background-color: #fc3;
  color: #630;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
[role="search"] button:hover, [role="search"] button:focus {
  background-color: #eb2;
}
[role="search"] button:active {
  background-color: #c90;
  border-color: #c90;
}
[role="search"] select, [role="search"] input, [role="search"] button {
  vertical-align: top;
  height: 35px;
  height: 2.1875em;
  box-sizing: border-box;
}

[role="search"][action*="recordings"] input[type="search"],
[role="search"][action*="sessions"] input[type="search"],
[role="search"][action*="events"] input[type="search"] {
  text-transform: capitalize;
}

@media all and (max-width: 20em) {
  [role="search"] select {
    width: 95%;
  }
}
@media all and (min-width: 46em) {
  [role="search"] {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
  }
  [role="search"] label {
    margin-right: 0.25em;
  }
  [role="search"] input + label,
  [role="search"] select + label {
    margin-left: 0.25em;
  }
  [role="search"] input[type="search"] {
    width: auto;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  [role="search"] button {
    width: auto;
  }
}
@media all and (min-width: 56em) {
  [role="search"] > label:first-child + input[type="search"] + button {
    min-width: 13.25em;
  }
}
@media all and (min-width: 72em) {
  [role="search"] button {
    min-width: 13.25em;
  }
}
@media all and (min-width: 56em) and (min-height: 44em) {
  [role="search"] select, [role="search"] input, [role="search"] button {
    height: 45px;
    height: 2.8125em;
  }
}

/*# sourceMappingURL=global.css.map */
