<div class="navigation" id="nav">
<nav>
<ul class="site menu">
{{> @menu this.site }}
</ul>

<div class="siteinfo">
<ul class="menu discrete">
{{> @menu this.siteinfo }}
</ul>
</div>
</nav>
</div>

{{> @inverted }}
