<div class="header">
<header>

<div class="inverted strip top">
<div class="contents">
<a href="#nav" rel="contents" title="menu" class="icon button aside" aria-label="navigation">&#9660;</a>
{{> @membership }}
</div>
</div>

{{> @logo }}

</header>
</div>
