<form method="post" action="">
<p>
<label for="field1">Label</label>
<input id="field1" name="field1" type="text">
</p>
<p>
<label for="field2">Other label</label>
<textarea id="field2" name="field2" rows="10" cols="30"></textarea>
</p>
<p><label for="field3">Yet another label</label>
<input id="field3" name="field3" type="email" value="email@example.com" required>
</p>
<input type="submit" value="Submit">
</form>
