<div class="inverted strip bottom">
<div class="contents">
<a href="#top" class="icon button aside" title="top" aria-label="back to top">&#9650;</a>
<form method="post" action="/">
<button type="submit">Log out</button>
</form>
</div>
</div>
