<p>
<button>button</button>
<input type="submit" value="submit">
<a class="button" href="#">link button</a>
<a class="button reveal" href="#">link reveal</a>
<a class="button admin" href="#">link admin</a>
<a class="button cancel" href="#">link cancel</a>
</p>

<p>
<button class="action">button action</button>
<a class="button action" href="#">link action</a>
<a class="button action reveal" href="#">link reveal</a>
<a class="button action cancel" href="#">action cancel</a>
</p>

<p>
<a class="button action add" href="#">add</a>
<a class="button action remove" href="#">remove</a>
<a class="button action edit" href="#">edit</a>
</p>

<p>
<a class="button action download" href="#">download</a>
<a class="button action print" href="#">print</a>
<a class="button action video" href="#">video</a>
</p>

<p>
<a class="button action share" href="#">share</a>
<a class="button action listen" href="#">listen</a>
<a class="button action music" href="#">music</a>
</p>

<p>
<a class="button action message" href="#">message</a>
<a class="button action place" href="#">place</a>
<a class="button action tunebook" href="#">tunebook</a>
</p>

<p>
<a class="button action place add" href="#">add place</a>
<a class="button action place remove" href="#">remove place</a>
<a class="button action place edit" href="#">edit place</a>
</p>

<p>
<a class="button action tunebook add" href="#">add tunebook</a>
<a class="button action tunebook remove" href="#">remove tunebook</a>
</p>
