<p>
<button>button</button>
<input type="submit" value="submit">
{{> @button content="link button" }}
{{> @button class="reveal" content="link reveal" }}
{{> @button class="admin" content="link admin" }}
{{> @button class="cancel" content="link cancel" }}
</p>

<p>
<button class="action">button action</button>
{{> @button class="action" content="link action" }}
{{> @button class="action reveal" content="link reveal" }}
{{> @button class="action cancel" content="link cancel" }}
</p>

<p>
{{> @button class="action add" content="add" }}
{{> @button class="action remove" content="remove" }}
{{> @button class="action edit" content="edit" }}
</p>

<p>
{{> @button class="action download" content="download" }}
{{> @button class="action print" content="print" }}
{{> @button class="action video" content="video" }}
</p>

<p>
{{> @button class="action share" content="share" }}
{{> @button class="action listen" content="listen" }}
{{> @button class="action music" content="music" }}
</p>

<p>
{{> @button class="action message" content="message" }}
{{> @button class="action place" content="place" }}
{{> @button class="action tunebook" content="tunebook" }}
</p>

<p>
{{> @button class="action place add" content="add place" }}
{{> @button class="action place remove" content="remove place" }}
{{> @button class="action place edit" content="edit place" }}
</p>

<p>
{{> @button class="action tunebook add" content="add tunebook" }}
{{> @button class="action tunebook remove" content="remove tunebook" }}
</p>
