<span class="bill-item">
<span class="bill-item-title">
{{ title }}
</span><!-- /.bill-item-title -->
<span class="bill-item-cost">
{{ cost }}
</span><!-- /.bill-item-cost -->
</span><!-- /.bill-item -->
