@media all and (min-width: 90rem) {
    body {
        font-size: 106.25%;
    }
}
@media all and (min-width: 100rem) {
    body {
        font-size: 112.5%;
    }
}
@media all and (min-width: 112.5rem) {
    body {
        font-size: 118.75%;
    }
}
@media all and (min-width: 125rem) {
    body {
        font-size: 125%;
    }
}
@media all and (min-width: 150rem) {
    body {
        font-size: 137.5%;
    }
}
@media all and (min-width: 180rem) {
    body {
        font-size: 150%;
    }
}
