<div class="header">
<header>

<div class="inverted strip top">
<div class="contents">
<a href="#nav" rel="contents" title="menu" class="icon button aside" aria-label="navigation">&#9660;</a>
{{> @membership }}
</div><!-- /.contents -->
</div><!-- /.inverted.strip.top#top-->

{{> @logo }}

</header>
</div><!-- /.header -->

<div class="navigation" id="nav">
<nav>
<ul class="site menu">
{{> @menu this.site }}
</ul><!-- /.site.menu -->

<div class="siteinfo">
<ul class="menu discrete">
{{> @menu this.siteinfo }}
</ul><!-- /.menu.discrete -->
</div><!-- /.siteinfo -->
</nav>
</div><!-- /.navigation#nav -->

{{> @inverted }}
