<div class="toggle">
<button class="action" aria-controls="foo">toggle</button>
<div class="toggle-content feedback" id="foo">
Peekaboo!
</div><!-- /.toggle-content.feedback -->
</div><!-- /.toggle -->

<div class="toggle">
<button class="action share" aria-controls="sharing">share</label>
<div class="toggle-content feedback sharing" id="sharing">
{{> @sharing }}
</div><!-- /.toggle-content.feedback.sharing -->
</div><!-- /.toggle -->

<p>This content follows the toggle.</p>
