<div class="toggle">
<a href="#foo" class="button action" aria-controls="foo" aria-expanded="false">toggle</a>
<div class="toggle-content feedback" id="foo" aria-hidden="true">
Peekaboo!
</div>
</div>

<div class="toggle">
<a href="#sharing" class="button action share" aria-controls="sharing" aria-expanded="false">share</a>
<div class="toggle-content feedback sharing" id="sharing" aria-hidden="true">
{{> @sharing }}
</div>
</div>

<p>This content follows the toggle.</p>
