<div class="toggle">
<label class="toggle-label button action" for="foo">toggle</label>
<input class="toggle-input" type="checkbox" id="foo">
<div class="toggle-content feedback">
Peekaboo!
</div><!-- /.toggle-content.feedback -->
</div><!-- /.toggle -->

<div class="toggle">
<label class="toggle-label button action share" for="sharing">share</label>
<input class="toggle-input" type="checkbox" id="sharing">
<div class="toggle-content feedback sharing">
{{> @sharing }}
</div><!-- /.toggle-content.feedback.sharing -->
</div><!-- /.toggle -->

<p>This content follows the toggle.</p>
