<form method="post" action="">
<p>{{> @form-unit id="field1" name="field1" label="Text input" }}</p>
<p>{{> @form-unit id="field2" name="field2" label="Email input" type="email" required="true" placeholder="e.g. email@example.com" }}</p>
<p>{{> @form-unit id="field3" name="field3" label="URL input" type="url" placeholder="e.g. http://example.com" }}</p>
<p>{{> @form-unit textarea=true id="field4" name="field4" label="Textarea" }}</p>
</form>
