<div class="sharing">
<a title="Share on Twitter" href="#" class="sharing-link sharing-link--twitter">{{> @icons-twitter }}</a>
<a title="Share on facebook" href="#" class="sharing-link sharing-link--facebook">{{> @icons-facebook }}</a>
<a title="Share by email" href="#" class="sharing-link sharing-link--email">{{> @icons-email }}</a>
</div>
