<div class="gallery">
<span class="gallery-item">{{> photo width=300 height=300 }}</span>
<span class="gallery-item">{{> photo width=320 height=360 }}</span>
<span class="gallery-item">{{> photo width=320 height=240 }}</span>
</div><!-- /.gallery -->
