<span class="emoticon smile">:-)</span>
<span class="emoticon laugh">:-D</span>
<span class="emoticon frown">:-(</span>
<span class="emoticon gasp">:-O</span>
<span class="emoticon undecided">:-/</span>
<span class="emoticon cool">8-)</span>
<span class="emoticon tongue">:-P</span>
<span class="emoticon wink">;-)</span>
