<article class="manifest" aria-labelledby="title">
<h2 class="manifest-title" id="title">A list of items</h2>
<ul class="manifest-inventory">
{{#each items}}
{{> @manifestitem this }}
{{/each}}
</ul><!-- /.manifest-inventory -->
<p><a href="#" rel="next">more…</a></p>
</article>
