a {
	text-decoration: none;
	word-wrap: break-word;
	@include transition(background-color, .25s, linear);
}
a:link,
a:visited {
	color: #b30;
}
a:hover {
	color: #c30;
	text-decoration: underline;
}
a:focus {
	color: #c30;
	outline: 1px dotted #996;
	text-decoration: underline;
}
a:active {
	color: #a30;
	text-decoration: underline;
}
h2 a:link,
h2 a:visited {
	color: #900;
}
[rel="prev"]:before {
    content: '« ';
}
[rel="next"]:before {
    content: '» ';
}
