<div class="embed" id="youtube0UWHg6BbfLU">
    <a href="https://www.youtube.com/watch?v=0UWHg6BbfLU" data-videoid="0UWHg6BbfLU">
        <img class="photo" src="https://i.ytimg.com/vi/0UWHg6BbfLU/default.jpg" alt="YouTube" data-videoid="0UWHg6BbfLU" srcset="https://i.ytimg.com/vi/0UWHg6BbfLU/mqdefault.jpg 2x,https://i.ytimg.com/vi/0UWHg6BbfLU/hqdefault.jpg 4x">
    </a>
    <br>
    <a class="action button reveal video" role="button" href="https://www.youtube.com/watch?v=0UWHg6BbfLU" data-videoid="0UWHg6BbfLU">
        play video
    </a>
</div>
